<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ElectroMapper">

    <sql id="Base_Column_List">
        id,dormitory_id,price,content,status
    </sql>

    <select id="selectAll" resultType="com.example.entity.Electro">
        select electro.*, dormitory.code as dormitoryName
        from electro
        left join dormitory on electro.dormitory_id = dormitory.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="content != null"> and content like concat('%', #{content}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Electro">
        select
        <include refid="Base_Column_List" />
        from electro
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from electro
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Electro" useGeneratedKeys="true">
        insert into electro
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="dormitoryId != null">dormitory_id,</if>
            <if test="content != null">content,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="dormitoryId != null">#{dormitoryId},</if>
            <if test="content != null">#{content},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Electro">
        update electro
        <set>
            <if test="dormitoryId != null">
                dormitory_id = #{dormitoryId},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>