<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.FixMapper">

    <sql id="Base_Column_List">
        id,student_id,dormitory_id,content,img,time,status
    </sql>

    <select id="selectAll" resultType="com.example.entity.Fix">
        select fix.*, student.name as studentName, dormitory.code as dormitoryName
        from fix
        left join student on fix.student_id = student.id
        left join dormitory on fix.dormitory_id = dormitory.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="dormitoryName != null"> and dormitory.code = #{dormitoryName}</if>
            <if test="studentId != null"> and fix.student_id = #{studentId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Fix">
        select
        <include refid="Base_Column_List" />
        from fix
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from fix
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Fix" useGeneratedKeys="true">
        insert into fix
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="content != null">content,</if>
            <if test="time != null">time,</if>
            <if test="dormitoryId != null">dormitory_id,</if>
            <if test="img != null">img,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="content != null">#{content},</if>
            <if test="time != null">#{time},</if>
            <if test="dormitoryId != null">#{dormitoryId},</if>
            <if test="img != null">#{img},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>
    <!--student_id,dormitory_id,content,img,time,status-->
    <update id="updateById" parameterType="com.example.entity.Fix">
        update fix
        <set>
            <if test="studentId != null">
                student_id = #{studentId},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="dormitoryId != null">
                dormitory_id = #{dormitoryId},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>